<html>
    <head>
            <script src="https://apis.google.com/js/platform.js" async defer></script>
           
           <meta name="google-signin-client_id" content="990512942243-jdipb2hm21tlrll402aaui2ul75bocie.apps.googleusercontent.com">
           <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
           <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>
           <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
   
           <link rel="stylesheet" href="/style.css">
          <script>



              $(window).load(function() {
       // Animate loader off screen
       $(".lds-ripple").fadeOut("slow");;
     });
           $(window).ready(function(){
               $('.ll').show('slow');
           })
          </script>
    </head>
    <body>
      <div   class="change">
        <div class="blur">
          <div style="border-radius: 20px;" class="ll">
              <h1 id="user">Hello <span id="nameuser"></span>-sama</h1>
            <div  id="lg"  class="g-signin2" data-onsuccess="onSignIn" onclick="cl()"></div>
            <div id="sg"></div>
          </div>
        </div>
    </div>
<script>
    if(sessionStorage.getItem('myUserEntity') == null){
    //Redirect to login page, no user entity available in sessionStorage
    $("#user").css("display","none");
  } else {
    //User already logged in
  
  
    var userEntity = {};
    userEntity = JSON.parse(sessionStorage.getItem('myUserEntity'));
    jQuery('#sg').replaceWith('<div style="height:30px; width:70px" class="abcRioButtonLightBlue abcRioButton abcRioButtonContentWrapper" href="#" onclick="logout();">Sign out</div>');
    $('#lg').css("display","none")
  }
</script>
    <div style="  position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  " class="lds-ripple"><div></div><div></div></div>
    
       
        
   <script>
     var dem=0;
     function cl(){
       dem=dem+1;
     }
       function show(){
           console.log(true);
       }
       function onSignIn(googleUser) 
{
  var profile = googleUser.getBasicProfile();
  console.log('ID: ' + profile.getId()); 
  console.log('Name: ' + profile.getName());
  console.log('Image URL: ' + profile.getImageUrl());
  console.log('Email: ' + profile.getEmail());
  
  var myUserEntity = {};
  myUserEntity.Id = profile.getId();
  myUserEntity.Name = profile.getName();
  document.getElementById("nameuser").innerHTML = myUserEntity.Name;

  //Store the entity object in sessionStorage where it will be accessible from all pages of your site.
  sessionStorage.setItem('myUserEntity',JSON.stringify(myUserEntity));


  if(dem>0){
    window.location = "/"
  }
}



function logout()
{
  //Don't forget to clear sessionStorage when user logs out
  var auth2 = gapi.auth2.getAuthInstance();
        auth2.signOut().then(function () {
        console.log('User signed out.');
        window.location = "/"
        });

  sessionStorage.clear();
}

   </script>
    <script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>

    </body>
</html>